## Dictionnaire

In [1]:
# Creation d'un dictionnaire
comptes = {"cyprien" : 100000,
          "landry" : 200000,
          "Nidele" : 300000,
          "Max" : 450000,
          "cyprien" : 250000,
          "Difoli" : 350000
         }
print (comptes)

{'cyprien': 100000, 'landry': 200000, 'Nidele': 300000, 'Max': 450000, 'Difoli': 350000}

In [2]:
# Creation d'un dictionnaire
comptes = {"cyprien" : 100000,
          "landry" : 200000,
          "Nidele" : 300000,
          "Max" : 450000,
          "cyprien" : 250000,
          "Difoli" : 350000
         }
print (comptes["Max"])

450000

In [3]:
# Creation d'un dictionnaire
comptes = {"cyprien" : 100000,
          "landry" : 200000,
          "Nidele" : 300000,
          "Max" : 450000,
          "cyprien" : 250000,
          "Difoli" : 350000
         }
print (comptes["Max"])
type (comptes)

450000

dict

In [4]:
# liste des cles disponibles

comptes.keys()

dict_keys(['cyprien', 'landry', 'Nidele', 'Max', 'Difoli'])

In [5]:
# Creation d'un dictionnaire
comptes = {"landry" : 200000,
          "Nidele" : 300000,
          "Max" : 450000,
          "cyprien" : 250000,
          "Difoli" : 350000
         }
print (comptes)

{'landry': 200000, 'Nidele': 300000, 'Max': 450000, 'cyprien': 250000, 'Difoli': 350000}

In [6]:
# Verifier si une cle existe
a = comptes.get("cyprien")
print (a)

250000

In [7]:
# Modifier la valeur de la cle
comptes["cyprien"] = 400000
print (comptes)

{'landry': 200000, 'Nidele': 300000, 'Max': 450000, 'cyprien': 400000, 'Difoli': 350000}

In [8]:
# supprimer et retourner la valeur de la cle supprime
a = comptes.pop("Nidele")
print (a)

300000

In [9]:
comptes

{'landry': 200000, 'Max': 450000, 'cyprien': 400000, 'Difoli': 350000}

In [10]:
comptes.values()

dict_values([200000, 450000, 400000, 350000])

In [11]:
b = comptes.items()
b

dict_items([('landry', 200000), ('Max', 450000), ('cyprien', 400000), ('Difoli', 350000)])

In [12]:
# parcourir et afficher les cles dans un dictionnaire

for key in comptes.keys():
    print (key)

landry
Max
cyprien
Difoli

In [14]:
# parcourir les valeurs d'un dictionnaire

for val in comptes.values():
    print (val)

200000
450000
400000
350000

In [17]:
# parcourir les cles et les valeurs dans un dictionnaire

for key, val in comptes.items():
    print ("La cle est : ", key, "et la valeur est :", val)

La cle est :  landry et la valeur est : 200000
La cle est :  Max et la valeur est : 450000
La cle est :  cyprien et la valeur est : 400000
La cle est :  Difoli et la valeur est : 350000

In [21]:
salaires = {
    "employe1" : {
        "mois1" : 200000,
        "mois2" : 200000,
        "mois3" : 200000
    },
     "employe2" : {
        "mois1" : 300000,
        "mois2" : 300000,
        "mois3" : 300000
    },
     "employe3" : {
        "mois1" : 250000,
        "mois2" : 250000,
        "mois3" : 250000
    },
     "employe4" : {
        "mois1" : 240000,
        "mois2" : 240000,
        "mois3" : 240000
    },
     "employe5" : {
        "mois1" : 400000,
        "mois2" : 400000,
        "mois3" : 400000
    }
}
salaires

{'employe1': {'mois1': 200000, 'mois2': 200000, 'mois3': 200000},
 'employe2': {'mois1': 300000, 'mois2': 300000, 'mois3': 300000},
 'employe3': {'mois1': 250000, 'mois2': 250000, 'mois3': 250000},
 'employe4': {'mois1': 240000, 'mois2': 240000, 'mois3': 240000},
 'employe5': {'mois1': 400000, 'mois2': 400000, 'mois3': 400000}}

In [36]:
for key, val in salaires.items():
        print (key)
        for k, v in val.items():
            print (" a percu le salaire pour le ", k, v)

employe1
 a percu le salaire pour le  mois1 200000
 a percu le salaire pour le  mois2 200000
 a percu le salaire pour le  mois3 200000
employe2
 a percu le salaire pour le  mois1 300000
 a percu le salaire pour le  mois2 300000
 a percu le salaire pour le  mois3 300000
employe3
 a percu le salaire pour le  mois1 250000
 a percu le salaire pour le  mois2 250000
 a percu le salaire pour le  mois3 250000
employe4
 a percu le salaire pour le  mois1 240000
 a percu le salaire pour le  mois2 240000
 a percu le salaire pour le  mois3 240000
employe5
 a percu le salaire pour le  mois1 400000
 a percu le salaire pour le  mois2 400000
 a percu le salaire pour le  mois3 400000